<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <title>HeadPhones</title>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/auth_script.js"></script>
</head>

<body ng-app="myApp" ng-controller="AuthCtrl as au">
  <div class="container auth-cont-marg">
    <div class="row">
      <div class="col-md-4 auth-column">

        <!--Login form-->
        <form ng-if="!au.signIn" ng-submit="sendLoginRequest()">
          <p class="emblem">HeadPhones.com</p>
          <label><b>Username</b></label>
          <input ng-model="au.loginUsername" name="login" type="text" minlength="6" placeholder="Enter Username"
            required>

          <label><b>Password</b></label>
          <input ng-model="au.loginPassword" name="password" type="password" placeholder="Enter Password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            required>

          <button type="submit" class="btn btn-success btn-block">Login</button>
          <button type="button" class="btn btn-info btn-block" ng-click="switchForm()">Sign Up</button>
        </form>

        <!--Sign Up form-->
        <form ng-if="au.signIn" class="modal-content" ng-submit="sendRegistryRequest()">
          <p class="emblem">HeadPhones.com</p>
          <label><b>FirstName</b></label>
          <input ng-model="au.regFirstname" name="firstname" type="text" placeholder="Enter FirstName" required>

          <label><b>LastName</b></label>
          <input ng-model="au.regLastname" name="lastname" type="text" placeholder="Enter LastName" required>

          <label><b>Username</b></label>
          <input ng-model="au.regUsername" name="login" type="text" minlength="6" placeholder="Enter Username" required>

          <label><b>Email</b></label>
          <input ng-model="au.regEmail" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="Enter Email" name="email" required>

          <label><b>Password</b></label>
          <input ng-model="au.regPassword" name="password" type="password" placeholder="Enter Password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            required>

          <label><b>Repeat Password</b></label>
          <input ng-model="au.regRepeat" name="password-repeat" type="password" placeholder="Enter Password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            required>

          <button type="submit" class="btn btn-info btn-block">Sign Up</button>
          <button type="button" ng-click="switchForm()" class="btn btn-danger btn-block">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>