<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<title>HeadPhones</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.twbsPagination.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>


<body ng-app="myApp" ng-controller="MyCtrl as my">
	<div class="container-fluid header">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<p class="emblem">HeadPhones.com</p>
			</div>
			<div class="col-md-4">
				<input ng-show="my.mainPage" id="search" type="search" class="top-margin" name="search"
					placeholder="Пошук товарів . . ." ng-model="my.userSearch">
			</div>
			<div class="col-md-3">
				<p class="phone-num">+38 (097) 377 93 33<br>marta.romaniv0707@gmail.com</p>
			</div>
			<div class="col-md-1 profile-container">
				<div ng-if="my.tokenVerified">
					<div ng-if="my.isLogedIn">
						<img src="css\images\profile.png" title="{{my.userName}}" class="profile-logo"></img>
						<button ng-click="logout()" type="button" class="btn btn-danger btn-block">Logout</button>
					</div>
					<div ng-if="!my.isLogedIn">
						<button type="button" onclick="window.location = 'authorization.html';"
							class="btn btn-info btn-block">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid black-back">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<ul class="list">
					<li class="navigation"><a href="index.html">Каталог товарів</a></li>
					<li class="navigation"><a href="about.html">Про Магазин</a></li>
					<li class="navigation"><a href="contacts.html">Контакти</a></li>
					<li class="navigation" ng-if="!my.isAdmin"><a href="basket.html">Корзина <span
								class="cart-count">{{my.cartIds.length>0?my.cartIds.length:''}}</span></a></li>
					<li class="navigation" ng-if="my.isLogedIn"><a href="history.html">Історія покупок</a></li>
					<li class="navigation" ng-if="my.isAdmin"><a href="mailing.html">Розсилка</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<button type="button" ng-click="my.showCreateMailingModal = true;" class="btn btn-success btn-block">Додати
				розсилку</button>
		</div>
		<div class="row">
			<div class="col-md-10 side-margin">
				<table class="history-table">
					<tbody>
						<th></th>
						<th>
							Mailing Id
						</th>
						<th>
							Name
						</th>
						<th>
							Users Count
						</th>
						<th>
							Create User
						</th>
						<th>
							Order Date
						</th>
						<tr ng-repeat="element in my.mailings" class="history-table-row">
							<td>
								<img class="details-img" ng-click="showMailDetails(element.Mail)"
									ng-src="css\images\details.png"></img>
							</td>
							<td>
								<label class="goods-name">{{element.Id}}</label>
							</td>
							<td>
								<label class="goods-name">{{element.Name}}</label>
							</td>
							<td>
								<label class="goods-name inline-element">{{element.UsersCount}}</label>
								<img class="details-img" ng-click="getUsersByMailingId(element.Id)"
									ng-src="css\images\profile.png"></img>
							</td>
							<td>
								<label class="goods-name">{{element.CreateUser}}</label>
							</td>
							<td>
								<label class="goods-name">{{element.CreateDate}}</label>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<div ng-if="my.showMailingDetailsModal" class="modal-discount container-fluid">
		<span ng-click="my.showMailingDetailsModal = false;" class="close-discount">&times;</span>
		<div class="row answer-modal">
			<div class="col-md-8 modal-content-discount">
				<div ng-bind-html="my.mailingHTML">
				</div>
				<div class="col-md-4 inline-element">
					<button type="button" ng-click="my.showMailingDetailsModal = false;"
						class="btn btn-primary btn-block">Закрити</button>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="my.showMailingUsersDetailsModal" class="modal-discount container-fluid">
		<span ng-click="my.showMailingUsersDetailsModal = false;" class="close-discount">&times;</span>
		<div class="row answer-modal">
			<div class="col-md-8 modal-content-discount">
				<table class="history-table">
					<tbody>
						<th>
							First Name
						</th>
						<th>
							Last Name
						</th>
						<th>
							Email
						</th>
						<tr ng-repeat="element in my.mailingUsers" class="history-table-row">
							<td>
								<label class="goods-name">{{element.FirstName}}</label>
							</td>
							<td>
								<label class="goods-name">{{element.LastName}}</label>
							</td>
							<td>
								<label class="goods-name">{{element.Email}}</label>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-md-4 inline-element">
					<button type="button" ng-click="my.showMailingUsersDetailsModal = false;"
						class="btn btn-primary btn-block">Закрити</button>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="my.showCreateMailingModal" class="modal-discount container-fluid">
		<span ng-click="my.showCreateMailingModal = false;" class="close-discount">&times;</span>
		<div class="row">
			<div class="col-md-8 modal-content-discount">
				<form ng-submit="createMailing()">
					<input type="text" ng-model="my.mailingName" name="mailing-name" placeholder="Впишіть назву"
						required>
					<textarea ng-model="my.mailingHTML" name="mailing-html" rows="10"
						placeholder="Впишіть HTML код мейлу" required></textarea>
					<button type="submit" class="btn btn-success btn-block">Додати розсилку</button>
					<button ng-click="my.showCreateMailingModal = false;" type="button"
						class="btn btn-danger btn-block">Скасувати</button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>